<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header",{title:title}) %>
  <body>
    <h1>Home page</h1>
    <%if(messages.length === 0) {%>
    <h2>create message in the <a href="/new">new message</a></h2>
    <%}%>
    <ul>
      <%if(messages.length){%> <% messages.forEach((message)=>{ %>

      <li class="msg-holder">
        <p><%= message.userName %></p>
        <p><%= message.text%></p>
        <p><%= message.added %></p>
        <a href="/<%=message.id%>">Open</a>
      </li>
      <% })%> <%}%>
    </ul>
  </body>
</html>
