<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/header",{title:title}) %>
  <body>
    <h1>Home page</h1>
    <ul>
      <% messages.forEach((message)=>{ %>
      <li class="msg-holder">
        <p><%= message.user %></p>
        <p><%= message.text%></p>
        <p><%= message.added %></p>
        <a href="/new/<%=message._id%>">Open</a>
      </li>
      <% })%>
    </ul>
  </body>
</html>
